@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&family=Koulen&display=swap');

::root{ 
    --main-radius: 5px;
    --main-padding: 5px;
}
*{
    margin: 0;
 }

.container{ 
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2cm 15cm 17cm 19cm 15cm 2cm;
    grid-template-areas: "nav nav nav"
                         "main main main"
                         "content1 content1 content1" 
                         "content2 content2 content2"
                         "content3 content3 content3"
                         "footer footer footer";
    grid-gap: 0.2rem;
    font-family: "Inter", sans-serif;
    text-align: center;
}

nav{
    height: 2cm;
    background-color: #053742;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    color: white;
}

/* Styling Logo*/

.logo{
    padding: 3vh 3vw;
    text-align: left;
    width: 20vw;
}
.logo a{
  color: white;
  text-decoration: none;
}

/* Styling Navigation Links*/

.nav-links{
    padding: 3vh 3vw;
    width: 50vw;
    display: flex;
    padding: 1 0.1vw;
    padding-top: 2px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

.nav-links li a{
    text-decoration: none;
    transition: all ease-in-out 350ms;
    color: white;
}

.nav-links li a:hover{
    color:#000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.nav-links li{
    position:relative;
}

.nav-links li a:hover::before{
    width: 80%;
}


/*Navigation Icon Styling*/

.hamburger div{
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}


/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        background: #053742;
        opacity: 1;
        height: 10cm;
        width: 100%;
        flex-direction: column;        
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade{
        opacity: 1;
    }

    /* Navigation Bar Icon on Click*/

    .toggle .bars1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .bars2{
        transition: all 0s ease;
        width: 0;
    }

    .toggle .bars3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

}
main{
    background: url("images/pic2.jpg");
    background-size: cover;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2.4cm;
    position: relative;
}
.head{
    width: 80%;
    height: 50%;
    font-size: 1.5rem;
    font-family: verdana;
    color: white;
    text-align: center;
    align-items: center;    
    display: inline-grid;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
}


/*SERVICES SECTION*/
#content1{
    grid-area:  content1;
    border-radius: var(--main-radius);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.overseer1{
  padding: 35px;
}
.overseer1 .title{
  color: white;
}
.overseer1 h1{
  border-bottom: 1px solid white;
}
.trans{
  background-color: #053742;
  padding: 10px;
  border-radius: 10px;
}
.wrapper .carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  background-color: #dbd9d9;
}
.carousel .card{
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  height: 9cm;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card-img img{
  height: 4.5cm;
  width: 1cm;
}
.card-img{
  width: 5cm;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.owl-dot{
  height: 15px;
  width: 15px;
  border: 1px solid rgb(39, 31, 31) !important;
  cursor: pointer;
  outline: none;
  margin: 0px 5px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active{
  background: white!important;
}

/****ABOUT SECTION****/
#content2{
    grid-area:  content2;
    border-radius: var(--main-radius);
    margin-top: 3cm;
}
.overseer2 .title{
  background-color: #053742;
  height: 3.6cm;
  padding-top: 20px;
  color: white;
}
.aboutImage{
  height: 12cm;
  width: 10cm;
  margin-top: -2.5cm;
  display: flex;
  box-shadow: 0px 1px 8px rgba(0,0,100,0.2);
  background: url(images/me.png);
  background-size: cover;
  float: right;
}
.aboutSection{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
.aboutText{
  line-height: 25px;
  padding: 10px;
  height: 7cm;
  width: 19cm;
  margin-left: 1cm;
  margin-top: 1cm;
  box-shadow: 0px 1px 8px rgba(0,0,100,0.2);
}



/*CONTACT SECTION*/
#content3{
  background-image: url(images/contact.png);
  background-size: cover;
  grid-area:  content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
  padding: 40px;
  padding-top: 70px;
}

.contact{
  display: flex;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  border-radius: 10px;
  padding: 15px;
  color: white;
}

.contact-links{
    width: 50%;
}
.link{
    padding-top: 50px;
}
.link li{
    list-style: none;
    display: inline;
    padding: 20px;
}
.link img{
    height: 55px;
    width: 55px;
}
.link img:hover {
  transform: scale(1.1, 1.1);
}
.contact-form-wrapper{
    width: 50%;
}
.contact-form-wrapper form{
  padding: 20px;
}
.form-item {
  position: relative;
}
label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: black;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 95%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: white;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  font-family: "Poppins",sans-serif;
  margin: 2px auto;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}
#footer{
    background-color: #053742;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#footer a{
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
.whatsapp{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background: url(images/whatsapp.png) white;
  background-size: cover;
  position: fixed;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  bottom: 90px;
  right: 5px;
  z-index: 40000;
}




/*==MOBILE RESPONSIVENESS==*/
@media only screen and (max-width: 700px){
    .head{
      font-size: 20px;
    }
    .head span{
      font-size: 2px;
      line-height: -80px;
    }
    #content1{
      flex-direction: column;
    }
    .nav-link{
      display: none;
    }
    #content2{
      padding: auto;
    }
    .aboutSection{
      flex-direction: column;
    }
    .aboutText{
      margin-top: 1cm;
      margin-left: auto;
      height: 100%;
      line-height: 20px;
      box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
      width: 100%;
      padding: 10px;
    }
    .aboutImage{
      height: 7cm;
      width: 100%;
    }
    #content3{
      height: 24cm;
      margin-top: 5cm;
      padding: 0;
    }
   .contact{
        display: block;
        margin-left: auto;
        align-self: center;
   }
   .contact-links{
      margin: auto;
      width: 100%;
   }
   .link{
      display: inline;
      width: 100%;
      margin-left: -2px;
      background-color: yellow;
   }
   .link li{
      padding: 2px;
      margin-left: -12px;
   }
   .contact-form-wrapper{
      margin: auto;
      width: 100%;
      margin-bottom: 1cm;
   }
   #footer{
    height: 100%;
      background-color: black;
      color: white;
      margin-top: 12cm;
      outline: 1px solid black;
   }
}

